.middle {

    display: flex;
    flex-direction: column;

    .photoSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50%;
        h2 {
            padding-top: 1rem;
            padding-left: 1rem;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .cityPhotos{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            img {
                width: 22%;
                height: 75%;
                border-radius: 6.811px;
                object-fit: cover;
            }
        }
    }
        
    .day-weather {
        height: 50%;
        .days-header {
            padding: 3rem 0 0 0;
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            p {
                width: 60px;
                height: 11px;
                flex-shrink: 0;
                color: #FFF;
                text-align: center;
                font-family: Inter;
                font-size: 12.068px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .days-body {
            padding-top: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .days-all{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .day-detail {
                    margin: 0 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    img {
                        width: 75px;
                    }
                    p {
                        width: 60px;
                        height: 11px;
                        flex-shrink: 0;
                        color: #FFF;
                        text-align: center;
                        font-family: Inter;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                    
                }
            }
            .actions{
                cursor: pointer;
            }
        }

    }
}