$vertical-center: (
    display:flex,
    flex-direction : column,
    justify-content: center,
);
$horizontal-center: (
    display:flex,
    align-items:center,
    justify-content: center,
);
$between-center: (
    display:flex,
    align-items:center,
    justify-content: space-between,
);
$paragraph : (
    width: 60px,
    height: 11px,
    flex-shrink: 0,
    color: #FFF,
    text-align: center,
    font-family: Inter,
    font-style: normal,
    font-weight: 400,
    line-height: normal,
);

.middle {
    @each $property, $value in $vertical-center {
        #{$property} : $value;
    }
    .photoSection {
        @each $property, $value in $vertical-center {
            #{$property} : $value;
        }
        @media only screen and (max-width:500px) {
            align-items:flex-start;
        }
        height: 50%;
        h2 {
            padding-top: 1rem;
            padding-left: 1rem;
            color: #FFF;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

        }
        .cityPhotos{
            @each $property, $value in $horizontal-center {
                #{$property} : $value;
            }
            height: 100%;
            gap: 1rem;

            img {
                width: 20%;
                height: 75%;
                border-radius: 6.811px;
                object-fit: cover;
                @media only screen and (max-width:500px) {
                    width: 12%;
                }
            }
        }
    }
        
    .day-weather {
        height: 50%;
        .days-header {
            padding: 3rem 0 0 0;
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            @media only screen and (max-width:500px) {
               padding: 0.2rem;
            }
            p {
                @each $property, $value in $paragraph {
                    #{$property} : $value;
                }
                font-size: 12.068px;
               
                @media only screen and (max-width:500px) {
                    height: 0;
                }
            }
            
        }
        .days-body {
            padding-top: 2rem;
            @each $property, $value in $between-center {
                #{$property} : $value;
            }
            @media only screen and (max-width:500px) {
                padding-top: 0.7rem;
            }
            .days-all{
                width: 100%;
                @each $property, $value in $between-center {
                    #{$property} : $value;
                }
                .day-detail {
                    margin: 0 5px;
                    @each $property, $value in $vertical-center {
                        #{$property} : $value;
                    }
                    align-items: center;
                    gap: 1rem;
                    @media only screen and (max-width:500px) {
                        gap: 0;
                    }
                    img {
                        width: 75px;
                        @media only screen and (max-width:500px) {
                            width: 25px;
                        }
                    }
                    p {
                        @each $property, $value in $paragraph {
                            #{$property} : $value;
                        }
                        font-size: 15px;
                  
                    }
                    @media only screen and (max-width:500px) {
                        width: 15px;
                        height: 0;
                    }
                }
            }
            .actions{
                cursor: pointer;
                color: #FFF;
            }
        }

    }
}