$vertical-center: (
    display:flex,
    flex-direction : column,
    align-items: center,
    justify-content: center,
);
$typography : (color: #C4C3C1,
    text-align: center,
    font-family: Inter,
    font-size: 15px,
    font-style: normal,
    font-weight: 600,
    line-height: normal,
);

nav {
    @each $property, $value in $vertical-center {
        #{$property}: $value;
    }

    width: 100%;
    padding: 3rem 0rem 5rem 0;
    gap: 2rem;

    @media only screen and (max-width:500px) {
        flex-direction: row;
        height: 50px;
        padding: 0;
        justify-content: center;
        gap: 0;
    }
    @media  screen and (min-width:500px) and (max-width:1200px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        height: 25px;
    }

    .navItem {
        @each $property, $value in $vertical-center {
            #{$property}: $value;
        }

        gap: 12px;
        cursor: pointer;
        @media only screen and (max-width:1200px) {
            width: 60px;
            img {
                width: 55%;
                gap: 0;
            }
        }
        @media  screen and (min-width:500px) and (max-width:1200px) {
            width: 50px;
            img {
                width: 50%;
                gap: 0;
            }
        }
    }

    .navTypography {
        @each $property, $value in $typography {
            #{$property}: $value;
        }

        &:hover {
            color: #FFFFFF;
        }

        @media only screen and (max-width:1200px) {
            color: white;
            display: none;
        }
    }
}