* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html,body,#root,main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  body {
    background: url('../assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
