* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html,body,#root,main {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
  }